

<div class="message">
    <div class="message__username">
        @UserName:
    </div>
    <div class="message__content">
        <span>@Content</span>
    </div>
</div>



@code{
    [Parameter]
    public string UserName {get; set;}

    [Parameter]
    public string Content {get; set;}
}